@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Start of navBar */
:root {
  --primary-color: #e98016;
  --secondary-color: #5634ae;
  --third-color: #ece7fe;
  --secondaryText-color: #6f6c8f;
  --dark-color: #000;
  --semiDark-color: #002333;
  --light-color: white;
  --lightGray-color: #fafafa;
  --gray-color: #808080;
}

/* Start of navBar */
nav {
  background-color: white;
}

nav .container-fluid {
  width: 100%;
  display: flex;
  align-items: center;
}

nav .container-fluid .navbar-nav {
  display: flex;
  gap: 36px;
  transition: 0.3s;
}

nav .container-fluid .navbar-nav .nav-link {
  color: var(--semiDark-color);
}

nav .container-fluid .navbar-nav .active {
  color: #e98016;
}

nav .container-fluid .navbar-nav a:hover {
  color: var(--primary-color);
}

nav .container-fluid .navbar-collapse .nav-btns {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
}

nav .container-fluid .navbar-collapse .nav-btns .btn {
  text-decoration: none;
  border: 1px var(--primary-color) solid;
  border-radius: 8px;
  padding: 10px 26px;
  color: var(--primary-color);
  transition: 0.3s;

  &:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

nav .container-fluid .navbar-collapse .nav-btns .primary-btn {
  color: var(--light-color);
  background-color: var(--primary-color);

  &:hover {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

.containers {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-top: 92px;
  background-image: url(../img/sign.png);
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.text1 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 30px;
}

.text2 {
  font-size: 18px;
}

header {
  color: #232836;
  text-align: center;
}

form {
  margin-top: 30px;
}

.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}



.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid#CACACA;
}

.field input:focus {
  border-bottom-width: 2px;
}

.field .input-field.success input {
  background-color: #28d07e;
}

.field .input-field.error input {
  background-color: red;
  font-size: 9px;
  height: 13px;
}

.field .input-field.error input {
  border-color: #ff3860;
}

.input-field .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.field button {
  color: #fff;
  background-color: #ec8f32;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-link {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}

.form a {
  color: black;
  text-decoration: none;
}

.form-content a:hover {
  text-decoration: underline;
}


.sign {
  text-align: center;
  padding: 10px;
}

.sign a {
  text-decoration: none;
  color: #ec8f32;
}

/* start of footer */
.media__icons .icon {
  background-color: var(--lightGray-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 400px) {
  .form {
    padding: 20px 10px;
  }
}

@media (max-width: 2560px) and (min-width: 1441px) {
  nav .container-fluid .navbar-nav {
    padding-left: 35px;
  }
}

@media (max-width: 1440px) and (min-width: 1201px) {
  nav .container-fluid .navbar-nav {
    padding-left: 35px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .navbar-collapse ul a {
    font-size: small;
  }

  .navbar-brand img {
    width: 6.8rem;
  }

  nav .container-fluid .navbar-collapse .nav-btns .btn {
    padding: 10px 18px !important;
  }
}

@media (max-width: 992px) {

  /* nav mediaQuery */
  nav .container-fluid .navbar-nav {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .navbar-collapse .nav-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .navbar-collapse .nav-btns a {
    display: flex;
    justify-content: center;
  }